# Accurate Online
ACCURATE_CLIENT_ID=
ACCURATE_CLIENT_SECRET=
ACCURATE_REDIRECT_URI=http://127.0.0.1:5000/accurate/callback
ACCURATE_DATABASE_ID=
ACCURATE_SCOPE=sales_invoice_view sales_invoice_save customer_view customer_save item_view
ACCURATE_CUSTOMER_NO=
ACCURATE_DEFAULT_ITEM_NO=
ACCURATE_SALES_INVOICE_ENDPOINT=/accurate/api/sales-invoice/save.do

# Local app
WEB_SECRET_KEY=
APP_STORE_DB=runtime/app.sqlite3
